
/** === FONTS === **/

@font-face{
    font-family: 'Starjedi';
    src: url(../fonts/Starjedi.ttf);
}

/** === BASE === **/

body {
    margin: 0;
    background-color: black;
    background-image:url(../images/fond.png);
    overflow: hidden !important;
    text-align: center;
  }

.intro {
    position: absolute;
    top: 45%; left: 36%;
    z-index: 1;
    animation: intro 7s ease-out 1s;
    color: blue;
    font-weight: 400;
    font-size: 100%;
    opacity: 0;
}

.logo {    
    position: absolute;
    top: 20%; left: 38%;
    z-index: 1;
    margin: auto;
    animation: logo 10s ease-out 8s;
    opacity: 0;
    transform: scale(2);
}

.history {
    position: absolute;
    transform: perspective(300px) rotateX(25deg);
    transform-origin: 50% 100%;
    text-align: justify;
    margin-left: -13em;
    font-weight: bold;
    font-size: 250%;
    height: 50em;
    width: 80%;
    bottom: 0; left: 50%;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.history section {
    animation: history 20s linear 5s;
    animation: history 100s linear 13s;
    position: absolute;
    top: 100%;
}

.history section p {
    color: yellow;
}

/** === ANIMATIONS === **/

@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes logo {
    0% {        
        opacity: 1;
    }
    50% {
        opacity: 1;     
    }
    100% {
        opacity: 0;
        transform: scale(0);       
    }
}
  
@keyframes history {
    0% {
        top: 100%;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: -170%;
    }
}
